@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: "Noto Sans TC", "Open Sans", sans-serif;
    color: #444444;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

a,
a:hover {
    text-decoration: none;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #469b70;
    margin: 20px 0;
    display: inline-block;
    border-radius: 50px;
    transition: all 0.4s;
}

.link_404:hover {
    background: #467870;
    color: #fff;
}

.contant_box_404 {
    margin-top: -50px;
}